.checkout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin:10px auto;
    background-color: lightsteelblue;
    padding: 20px;
    font-size: 20px;
}
.form-elements{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.form-elements input{
    border: none;
    font-size: 20px;
    border-radius: 10px;
}